extends ../../layout/default.pug 
include ../../mixins/product-heading.pug
include ../../mixins/card.pug
include ../../mixins/submit-button.pug
include ../../mixins/alertCart.pug
block main

    if messages.addSuccess
        +alertCart(cartData)

    .collection-wrapper 
        .collection-container 
            +product-heading(title)
            .collection-content 
                .collection-left 
                    .collection-heading 
                        span Danh mục sản phẩm
                    .collection-inner 
                        ul
                            a(href="/collections/pc")  PC - Máy tính để bàn 
                            a(href="/collections/man-hinh-may-tinh")  Màn hình máy tính
                            a(href="/collections/vga")  VGA - Card đồ họa
                            a(href="/collections/cpu")  CPU
                            a(href="/collections/balo-tui")  Balo - túi sách
                .collection-right 
                    .collection-thumb
                        a(href="/collections/all")  
                            img(src="/image/product_banner.webp" alt="" srcset="")

                    .collection-product 
                        .collectionProduct-heading
                            .collectionBox-left 
                                h1 #{title}
                                p(class="quantity-product" data-qty=quantity) #{quantity}
                                    span sản phẩm
                        .collectionProduct-content 
                            .collectionProduct-row 
                                each item of product

                                    +card(item)
                            form(action="" method="get" class="loadmore-btn")
                                button(type="submit" class="more-product") Xem thêm sản phẩm
    script.
        let skip = 10; // skip 10 products initially
        const url = window.location.href;
        const parts = url.split("/");
        const brand = parts[parts.length-1];
        const collectionRow = document.querySelector(".collectionProduct-row");
        const loadMore = document.querySelector(".more-product");

        document.querySelector('.loadmore-btn').addEventListener('click', (e) => {
            e.preventDefault();
            loadMore.classList.add("show");

            fetch(`/api/products?skip=${skip}&brand=${brand}`)
                .then(response => response.json())
                    .then(data => {
                    data.forEach(product => {
                        const productElement = `
                        <div class="product-loop">
                            <div class="product-inner">
                                <a href="/products/${product.slug}" class="product-image">
                                    <img src="${product.image_url}" alt="image" srcset="">
                                    <span class="show-product" data-id=${product._id}>
                                        <i class="fa-solid fa-eye"></i>
                                    </span>
                                </a>
                                <div class="product-info">
                                    <div class="product-title">${product.title}</div>
                                    <div class="product-price">
                                        <div class="price"><span>${product.price}</span></div>
                                        <div class="${product.discount === "" ? "" : "discount"}">${product.discount}</div>
                                    </div>
                                </div>
                                <form method="POST" action="/add-to-cart/${product._id}" class="product-action">
                                    <button class="product-action-inner">
                                        <div class="add-to-cart">
                                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                                                <g transform="translate(0 512) scale(.1 -.1)">
                                                    <path d="m2371 5100c-150-40-306-141-387-248l-35-48-492-58c-271-32-501-63-512-69-31-16-44-39-45-75 0-32 54-516 64-573 5-25 3-27-44-31-27-3-56-11-65-18s-78-117-155-245l-139-232-86-1660c-47-913-85-1692-85-1730 0-60 3-73 23-91l23-22h2125 2126l21 23c18 19 22 35 22 92 0 37-38 815-85 1728l-86 1660-139 232c-77 128-147 238-156 246-11 9-49 15-106 18-86 3-90 4-84 25 3 11 18 74 33 138 29 128 26 152-19 182-13 8-190 54-393 101-204 47-380 90-391 94-14 6-24 22-28 45-11 60-92 208-153 281-76 91-209 181-324 220-73 25-102 29-219 32-111 2-148-1-209-17zm318-176c139-34 279-140 353-265 21-34 36-64 34-66s-51 8-110 22c-113 28-152 27-180-4-8-9-34-96-56-192-23-95-43-182-46-191-4-14-72-44-80-35-1 1-19 139-39 306-19 167-40 311-44 320-21 39-55 45-163 33-56-7-103-10-106-7-8 8 127 68 183 81 72 18 178 17 254-2zm-329-258c0-2 14-117 30-256 17-139 27-256 23-260s-190-51-413-104c-308-74-410-102-427-118-31-29-30-70 7-220 17-67 30-128 30-135 0-10-45-13-203-13h-203l-56 478c-31 262-56 478-55 478 1 1 283 36 627 77s628 75 633 76c4 0 7-1 7-3zm1105-357c242-56 444-105 449-110 6-5-20-134-64-324l-74-315h-246-246l-82 343c-72 301-85 345-107 365-31 26-65 28-147 6-33-8-61-14-63-12-1 2 7 42 18 89l20 86 51-13c28-7 249-58 491-115zm-495-226c0-5 27-120 60-257 33-136 60-252 60-257s-276-9-643-9h-642l-28 117c-15 64-26 117-24 119 2 1 1194 291 1210 293 4 0 7-2 7-6zm-1980-282c0-9 14-119 25-203l5-38h-100c-55 0-100 3-100 6 0 18 145 244 156 244 8 0 14-4 14-9zm3239-110c39-66 71-122 71-125s-74-6-165-6-165 3-165 8c0 4 12 60 27 125l27 117h67 66l72-119zm155-373c3-35 40-733 81-1553s76-1511 78-1537l4-48h-1987-1987l4 48c2 26 37 717 78 1537s78 1518 81 1553l6 62h1818 1818l6-62z"></path>
                                                    <path d="m1850 3209c-168-32-260-248-169-395 24-39 82-92 114-104 23-9 23-10 27-242 4-223 5-236 32-313 85-248 285-432 534-492 88-21 256-21 344 0 249 60 449 244 534 492 27 77 28 90 32 312l4 233 34 16c42 20 101 85 121 133 24 55 21 159-6 214-26 53-87 112-140 134-46 20-156 20-202 0-199-83-215-381-26-479l39-19-4-207c-5-237-17-291-88-400-225-349-715-349-940 0-71 109-83 164-88 400l-4 207 39 19c85 44 132 127 133 232 0 175-145 292-320 259z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="btn-add">Thêm vào giỏ</div>
                                    </button>
                                </form>
                            </div>
                        </div>
                        `;
                        collectionRow.insertAdjacentHTML('beforeend', productElement);
                    });
                    skip += 10; // Increase the skip value to get the next 10 products in the db
                    loadMore.classList.remove("show");
                    // Adđ event click to show quick view modal
                    const showProduct = document.querySelectorAll('.show-product');
                    if(showProduct){
                        console.log(showProduct);
                        showProduct.forEach(item => {
                            item.addEventListener("click",async(e) => {
                            e.preventDefault();
                            const id = item.getAttribute("data-id");

                            const data = await fetch(`/api/product/${id}`);
                            const product = await data.json();

                            const html = `
                                <div class="productInfo-thumb">
                                    <img src= ${product.image_url} alt="" srcset="">
                                </div>
                                <div class="productDetail-content">
                                    <div class="productDetail-header">
                                    <h1>${product.title}</h1>
                                    <span class="product-soldout">Tình trạng :</span>
                                    <p class="${product.sold_out ? "sold-out" : "stocking"}">${product.sold_out ? "Hết hàng" : "Còn hàng"}</p>
                                    </div>
                                    <div class="productDetail-inner">
                                    <div class="productInner-wrapper">
                                        <div class="productDetail-price">
                                        <span>Giá:</span>
                                        <p>${product.price}</p>
                                        <div class="${product.discount === "" ? "" : "productDetail-discount"}">
                                            <h3>${product.discount === "" ? "" : product.discount}</h3>
                                        </div>
                                        </div>
                                        <form action="/add-to-cart/${product._id}" method="post" class="productDetail-actions">
                                        <div class="addcart-area">
                                            <div class="buy-now">
                                            <form action="/add-to-cart/${product._id}" method="POST" class="add-form">
                                                <input name="cart" hidden>
                                                <button type="submit">mua ngay</button>
                                            </form>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                                <div class="productInfo-close">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            `;
                                productInfo.innerHTML = html;
                                productWrapper.style.position = "fixed";
                                productWrapper.style.opacity = "1";
                                const closeModal = document.querySelector(".productInfo-close");
                                if(closeModal){
                                    closeModal.addEventListener("click",() => {
                                        productWrapper.style.position = "relative";
                                        productWrapper.style.opacity = "0";
                                    });
                                }
                            })
                        })
                    }

                    const quantityProduct = document.querySelector(".quantity-product").getAttribute("data-qty");
                    if(skip >= quantityProduct){
                        loadMore.style.display = "none";
                    }
                })
                .catch(error => console.error('Error fetching products:', error));


        });