
extends ../../layout/default.pug 
include ../../mixins/product-heading.pug

block main

    .cart-wrapper 
        .cart-container 
            +product-heading(`Giỏ hàng (${quantityCart})`)
            .cart-content 
                .cart-row 
                    .cart-left
                        .cartLeft-content 
                            h1 Giỏ hàng của bạn
                            .cart-product 
                                .title-cart Bạn đang có 
                                    strong #{quantityCart} sản phẩm 
                                    span trong giỏ hàng
                                if(product.length > 0)
                                    .cart-table
                                        each item of product 
                                            .cart-card 
                                                .media-left 
                                                    a(href=`/products/${item.slug}`)
                                                        img(src=item.image_url alt="icon" srcset="") 
                                                    form(action=`/remove/${item._id}` method="POST" class="item-remove")
                                                        button(type="submit" class="btn-remove") Xóa   
                                                .media-right 
                                                    h3.cartProduct-title 
                                                        a(href=`/products/${item.slug}`) #{item.title}
                                                    p.item-price #{item.price}
                                                .media-total 
                                                    .total-price 
                                                        span.total-price-product #{item.totalPrice}
                                                    .qty-product 
                                                        span Số lượng : #{item.quantity}
                                    .cart-checkout 
                                        .checkout-container
                                            label.note-label Ghi chú đơn hàng 
                                            textarea(name="note" rows="5") 

                    .cart-right
                        .cartRight-wrapper 
                            .cartRight-container 
                                .order-summary 
                                    h2.summary-title Thông tin đơn hàng
                                    .summary-time 
                                        .box-time-left 
                                            p THỜI GIAN GIAO HÀNG
                                            p.txt-time 
                                                <i class="fa-regular fa-clock"></i>
                                                span Giao khi có hàng
                                        .box-time-right 
                                            <i class="fa-solid fa-circle-check"></i>
                                            span Giao khi có hàng
                                    .summary-total 
                                        .total-container 
                                            span Tổng tiền: 
                                            span.sum-price #{totalPrice}
                                    .summary-action 
                                        span Phí vận chuyển sẽ được tính ở trang thanh toán.
                                        span Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                                        span Bạn cũng có thể nhập mã giảm giá ở trang thanh toán.
                                        if(priceInteger < 40000)
                                            .summary-alert 
                                                p Giỏ hàng của bạn hiện chưa đạt mức tối thiểu để thanh toán.
                                    div(class='summary-button') 
                                        a(href="/" class=`${priceInteger > 0 ? "" : "disabled"}`) Thanh toán 
                            .summary-notify 
                                .summary-order 
                                    p.text-order Chính sách mua hàng:
                                    p Hiện chúng tôi chỉ áp dụng thanh toán với đơn hàng có giá trị tối thiểu 
                                        strong 40.000₫ 
                                        span trở lên.